<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add_story</title>
</head>
<body>

<form {% if story %} action="/story/{{story.id}}" {% else %} action="/story" {% endif %} method="POST">
    <label>Story title:</label>
    <br>
    <input type="text" name="story_title" {% if story %} value="{{story.story_title}}" {% endif %}>
    <br>
    <label>User story:</label>
    <br>
    <textarea rows="5" cols="20" name="user_story">{% if story %}{{story.user_story}}{% endif %}</textarea>
    <br>
    Acceptance criteria:
    <br>
    <textarea rows="5" cols="20" name="criteria">{% if story %}{{story.acceptance_criteria}}{% endif %}</textarea>
    <br>
    Business value:
    <br>
    <input type="number" name="business_value" min="100" max="1500" step="100" {% if story %} value={{story.business_value}} {% endif %}>
    <br>
    Estimation:
    <br>
    <input type="number" name="estimation" min="0.5" max="40" step="0.5" {% if story %} value={{story.estimation}} {% endif %}>
    <br>
    Status:
    <br>
    <select name="status">
        {% for status in statuses %}
        <option value="{{status.status}}" {% if story and story.status==status.status %}selected{% endif %}>{{status.status}}</option>
        {%  endfor %}
    </select>
    <br><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>