<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super Sprinter 3000</title>
</head>
<body>

<table>
    <tr>
        <th>ID</th>
        <th>Story title</th>
        <th>User story</th>
        <th>Acceptance criteria</th>
        <th>Business Value</th>
        <th>Estimation</th>
        <th>Status</th>
        <th>Action</th>
    </tr>

    {% for story in stories %}
    <tr>
        <td>{{story.id}}</td>
        <td>{{story.story_title}}</td>
        <td>{{story.user_story}}</td>
        <td>{{story.acceptance_criteria}}</td>
        <td>{{story.business_value}}</td>
        <td>{{story.estimation}}</td>
        <td>{{story.status.name}}</td>
        <td><a href="/story/{{story.id}}" id="edit_button">Edit</a>
            <a href="/delete/{{story.id}}" id="delete_button">Del</a>

        </td>
    </tr>
    {% endfor %}
</table>

    <br><a href="/story" id="new_story_button">Add new story</a>

</body>
</html>